Flask==2.3.2
flask-sqlalchemy==3.0.5
mysqlclient==2.2.0
sqlalchemy-utils==0.41.1
Jinja2==3.1.2
flask-restx==1.1.1
SQLAlchemy==2.0.22
PyYAML==6.0.2
flasgger==0.9.7.1
mistune==3.1.4
packaging==24.1
six==1.16.0
Werkzeug==3.1.2
itsdangerous==2.2.0
click==8.1.7
blinker==1.8.2
attrs==24.2.0
